body{
    width: 50%;
    margin-left: 20%;
    margin-top: 20%;
    color: white;
    background: url(imgs/wallpapercrip.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
